<div class="container">
  <h1>Menus index</h1>
  <p> To implement here : menus list </p>
  <p> Methods to dev & link : new/create, destroy </p>

    <%= link_to 'Add a meal', new_menu_path %> # Wait admin part : if current_user.admin

    <% @menus.each do |menu| %>
      <% if menu.meal == 'Starter' %>
        <%= menu.title %>
        <%= menu.content %>
        <%= menu.price %>
        <br>
        <%= link_to 'Edit', edit_menu_path(menu) %> # Wait admin part : if current_user.admin
        <%= link_to 'Delete', menu_path(menu), data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'} %> # Wait admin part : if current_user.admin
      <% end %>
    <% end %>
    <br>
    <% @menus.each do |menu| %>
      <% if menu.meal == 'Main meal' %>
        <%= menu.title %>
        <%= menu.content %>
        <%= menu.price %>
        <br>
        <%= link_to 'Edit', edit_menu_path(menu) %> # Wait admin part : if current_user.admin
        <%= link_to 'Delete', menu_path(menu), data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'} %> # Wait admin part : if current_user.admin
      <% end %>
    <% end %>
    <br>
    <% @menus.each do |menu| %>
      <% if menu.meal == 'Dessert' %>
        <%= menu.title %>
        <%= menu.content %>
        <%= menu.price %>
        <br>
        <%= link_to 'Edit', edit_menu_path(menu) %> # Wait admin part : if current_user.admin
        <%= link_to 'Delete', menu_path(menu), data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'} %> # Wait admin part : if current_user.admin
      <% end %>
    <% end %>
    <br>

</div>
