<div class="container">
  <h3>Add your new meal :</h3>
  <%= simple_form_for [@menu] do |f| %>
    <%= f.input :title, label: 'Name of the meal' %>
    <%= f.input :content, label: 'Description of the meal' %>
    <%= f.input :price, label: 'Price of the meal' %>
    <%= f.input :meal, label: 'The type of meal', collection: ['Starter', 'Main meal', 'Dessert'] %>
    <%= f.submit %>
  <% end %>
</div>
