<div class="container bg-white">
  <div class="grid grid-cols-3 gap-1 sm:grid-cols-6 overflow-hidden sm:mt-5 sm:mb-12">
    <img src="https://images.wakelet.com/resize?id=DXWoNgVO-TQnztLMszHp1&h=2304&w=1536&q=85#" alt="Ambiance of the restaurant" class="object-cover "
      <%= @animation_top %> >

    <img src="https://images.wakelet.com/resize?id=sJW4j8kc7ECaEFZBXS-6V&h=2304&w=1536&q=85#" alt="Ambiance of the restaurant" class="object-cover "
      <%= @animation_bot %> >

    <img src="https://images.wakelet.com/resize?id=u9Bh0wQ8z2X_J5n7ahsBB&h=2303&w=1536&q=85#" alt="Ambiance of the restaurant" class="object-cover "
      <%= @animation_top %> >

    <img src="https://images.wakelet.com/resize?id=s92ohGxSLBOts8_4ZcVTy&h=2303&w=1536&q=85#" alt="Ambiance of the restaurant" class="object-cover"
      <%= @animation_bot %> >

    <img src="https://images.wakelet.com/resize?id=coXO5k3FCAZ_kXmG9TTgO&h=2303&w=1536&q=85#" alt="Ambiance of the restaurant" class="object-cover "
      <%= @animation_top %> >

    <img src="https://images.wakelet.com/resize?id=DJvNWWHG_jUkwk-A_F9yr&h=2304&w=1536&q=85#" alt="Ambiance of the restaurant" class="object-cover"
      <%= @animation_bot %> >
  </div>
</div>
