<div class="container bg-white">
  <div class="grid grid-cols-3 gap-1 sm:grid-cols-6 overflow-hidden sm:mt-5 sm:mb-12">
    <img src="https://images.wakelet.com/resize?id=W9QmcSviBD4UYXxZapo05&h=2305&w=1536&q=85#" alt="terrasse eunoé restaurant Paris 11" class="object-cover "
      <%= @animation_top %> >

    <img src="https://images.wakelet.com/resize?id=sJW4j8kc7ECaEFZBXS-6V&h=2304&w=1536&q=85#" alt="Ambiance of the restaurant Paris 11" class="object-cover "
      <%= @animation_bot %> >

    <img src="https://images.wakelet.com/resize?id=DXWoNgVO-TQnztLMszHp1&h=2304&w=1536&q=85#" alt="entrée eunoé restaurant Paris 11" class="object-cover "
      <%= @animation_top %> >

    <img src="https://images.wakelet.com/resize?id=DJvNWWHG_jUkwk-A_F9yr&h=2304&w=1536&q=85#" alt="plat eunoé restaurant Paris 11" class="object-cover"
      <%= @animation_bot %> >

    <img src="https://images.wakelet.com/resize?id=coXO5k3FCAZ_kXmG9TTgO&h=2303&w=1536&q=85#" alt="dégustation eunoé restaurant Paris 11" class="object-cover "
      <%= @animation_top %> >

    <img src="https://images.wakelet.com/resize?id=7rKz-f9whMq_fNCz5KZFg&h=2305&w=1536&q=85#" alt="Diner Eunoe restaurant Paris 11" class="object-cover"
      <%= @animation_bot %> >
  </div>
</div>
