<div class="container bg-white">
  <div class="grid grid-cols-3 gap-1 sm:grid-cols-6 overflow-hidden sm:mt-5 sm:mb-12">
    <img src="https://lh3.googleusercontent.com/pw/AJFCJaWAE0UjhzGcWhlReYIxSp4W1-bZsOLBIOh8TW5ClZIrD09L0MWFOdUiInNTBwsvqDfvqFicw1fMDYpHn0ngm3y2UMUe7dEBpyyWUTS0eLrxSriXPdXtwmQPXOKDRZsthy75_DKkCgYC34YfNgUgJfY=w938-h1406-s-no?authuser=0" alt="Ambiance of the restaurant" class="object-cover h-full"
      <%= @animation_top %> >

    <img src="https://lh3.googleusercontent.com/pw/AJFCJaUaY5MypX74V6GO2pwwveqljaJ1KXmpu7XZUhxgabGiLY4p8fBlvZLA_F_S_K8vn-M4hm89obN51QXLIcsVUUWvt0uaXWx2nlxY751Tjakdg6LUz15nQwBy8VY31AgbAisff89FHMYYD_MUqlFd3QE=w938-h1406-s-no?authuser=0" alt="Ambiance of the restaurant" class="object-cover h-full"
      <%= @animation_bot %> >

    <img src="https://lh3.googleusercontent.com/pw/AJFCJaXtpWPyKkzgserk5ROnHtNpM_RC2eb0COzURIh47vXw-kvhVp8kQc_wP_LWNOAqwDlA8LMupbG0XdW1jRv08F-3Zm1gLF11RHhmnA1EN1_PPSQc9VkRZleYhXMSCyeYHpM4_Z7tHr3J28JJkbIBg64=w938-h1406-s-no?authuser=0" alt="Ambiance of the restaurant" class="object-cover h-full"
      <%= @animation_top %> >

    <img src="https://res.cloudinary.com/davwfr1a7/image/upload/v1684959797/Euno%C3%A9/entre%CC%81e_eunoe%CC%81_restaurant_tv9chb.jpg" alt="Ambiance of the restaurant" class="object-cover h-full"
      <%= @animation_bot %> >

    <%= image_tag "asperges_revisitees_eunoe_restaurant.jpg", alt:"Ambiance of the restaurant", class:"object-cover h-full" %>

    <img src="https://images.unsplash.com/photo-1565958011703-44f9829ba187?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=930&q=80" alt="Ambiance of the restaurant" class="object-cover h-full"
      <%= @animation_bot %> >
  </div>
</div>

<%# ' data-te-animation-init ', 'data-te-animation-start="onScroll" ', 'data-te-animation="[fade-in-up_3s_ease-in-out]" %>
