<div class="flex justify-end mb-1">
  <%= form_with url: list_bookings_path, method: :get, data: {controller: "bookings-search-form", bookings_search_form_target: "form", turbo_frame: "bookings"} do |f| %>
    <%= f.text_field :last_name, placeholder: "Nom de réservation", value: params[:last_name], class: "border border-blue-500 rounded p-2", autocomplete: "off", data: {action: "input->bookings-search-form#search"} %>
  <% end %>
</div>

<%= turbo_frame_tag "bookings" do %>
  <table id="booking-list" class="text-sm table-auto">
    <thead>
      <tr>
        <% [{col: 'last_name', label: 'Nom'}, {col: 'phone', label: 'Téléphone'}, {col: 'date', label: 'Date'}, {col: 'starts_at', label: 'Heure'}, {col: 'people', label: 'Couverts'}, {col: 'comment', label: 'Message'}, {col: 'status', label: 'Statut'}].each do |head| %>
          <th class="relative px-6 py-2 text-white border bg-slate-600 hover:cursor-pointer">
            <%= sort_indicator if session.dig('booking_filters', 'column') == head[:col] %>
            <%= build_order_link(column: head[:col], label: head[:label]) %>
          </th>
        <% end %>
        <th class="relative px-4 py-2 text-white border bg-slate-600">
          Actions
        </th>
      </tr>
    </thead>
    <tbody>
      <% bookings.each do |booking| %>
        <tr>
          <td class="px-4 py-2 border"><%= booking.gender %> <%= booking.first_name %> <strong><%= booking.last_name %></strong></td>
          <td class="px-4 py-2 border"><%= booking.phone %></td>
          <td class="px-4 py-2 border"><%= booking.date.strftime('%a %d/%m') %></td>
          <td class="px-4 py-2 border"><%= booking.starts_at.hour %>:<%= booking.starts_at.min == 0 ? "00" : booking.starts_at.min %></td>
          <td class="px-4 py-2 border"><%= booking.people %></td>
          <td class="px-4 py-2 border"><%= booking.comment %></td>
          <td class="px-4 py-2 border <%= booking.status == 'pending' ? 'text-orange-600' : (booking.status == 'confirmed' ? "text-green-600" : "text-red-600") %>"><%= case booking.status; when 'pending' then 'En attente'; when 'confirmed' then 'Accepté'; when 'declined' then 'Rejeté'; when 'cancelled' then 'Annulé (client)'; end %></td>
          <td class="px-4 py-2 border">
            <div class="flex flex-row justify-center gap-4">
              <%= simple_form_for booking, method: 'patch' do |f| %>
                <%= f.hidden_field :status, value: 'confirmed' %>
                <%= f.button :submit, "Accepter", class: "px-4 py-1 text-sm font-medium text-white bg-gray-800 rounded-md shadow cursor-pointer" %>
              <% end %>
              <%= simple_form_for booking, method: 'patch' do |f| %>
                <%= f.hidden_field :status, value: 'declined' %>
                <%= f.button :submit, "Décliner", class: "px-4 py-1 text-sm font-medium text-white bg-gray-400 rounded-md shadow cursor-pointer" %>
              <% end %>
              <a href="mailto:<%= booking.email%>" class="px-4 py-1 text-sm font-medium text-white rounded-md shadow cursor-pointer bg-pink-pastel">Email</a>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
