<div class="container">

  <h1 class="text-3xl font-extrabold sm:text-5xl my-10">A propos de la réservation de <%= @booking.last_name %> <%= @booking.first_name %></h1>
  <a
  class="mb-5 inline-block rounded-full border border-amber-700 p-3 text-amber-700 hover:bg-amber-800 hover:text-white focus:outline-none focus:ring active:bg-pink-pastel"
  href="<%= bookings_path %>"
>
  <span class="sr-only"> List </span>

  <svg
    class="h-4 w-4 rotate-180"
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    viewBox="0 0 24 24"
    stroke="currentColor"
  >
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
      d="M14 5l7 7m0 0l-7 7m7-7H3"
    />
  </svg>
</a>
  <div class="overflow-hidden bg-white shadow sm:rounded-lg mb-10">
    <div class="px-4 py-5 sm:px-6">
      <h3 class="text-lg font-medium leading-6 text-gray-900">Informations générales</h3>
      <p class="mt-1 max-w-2xl text-sm text-gray-500">Vos informations utiles de cette réservation.</p>
    </div>
    <div class="border-t border-gray-200">
    <dl>
      <div class="bg-white-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-500">Nom</dt>
        <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0"><%= @booking.first_name %> <%= @booking.last_name %></dd>
      </div>
      <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-500">Email</dt>
        <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0"><%= @booking.email %></dd>
      </div>
      <div class="bg-white-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-500">Tel</dt>
        <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0"><%= @booking.phone  %></dd>
      </div>
      <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-500">Date et heure</dt>
        <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0"> Le <%= @booking.date %> à <%= @booking.starts_at %></dd>
      </div>
      <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-500">Statut de la réservation</dt>
        <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">
         <%if @booking.status == "pending"%>
        <strong
          class="rounded bg-amber-100 px-3 py-1.5 text-xs font-medium text-amber-700"
        >
          <%= @booking.status %>
        </strong>
      <%elsif @booking.status == "confirmed"%>
        <strong
          class="rounded bg-green-100 px-3 py-1.5 text-xs font-medium text-green-700"
        >
          <%= @booking.status %>
        </strong>

      <%else %>
        <strong
          class="rounded bg-red-100 px-3 py-1.5 text-xs font-medium text-red-700"
        >
          <%= @booking.status %>
        </strong>
      <% end %>
        </dd>
      </div>
      <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-500">Commentaire</dt>
        <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0"><%= @booking.comment %></dd>
      </div>
      <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-500">Actions</dt>
        <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">
          <ul role="list">
            <li class="flex items-center justify-between py-3 pl-3 pr-4 text-sm">
              <div class="flex flex-col	 w-0 flex-1 items-start">
                <!-- Heroicon name: mini/paper-clip -->
                <% unless @booking.status == ('confirmed') %>
                  <%= simple_form_for @booking do |f| %>
                      <%= f.hidden_field :status, value: 'confirmed' %>
                      <input type="submit" name="commit" value="Valider la réservation" class="inline-block mb-4 rounded border bg-green-600 px-12 py-3 text-sm font-medium text-white hover:bg-transparent hover:text-green-600 focus:outline-none focus:ring active:text-green-500 hover:cursor-pointer">
                  <% end %>
                <% end %>

                <a href="<%= edit_booking_path(@booking) %>" class="inline-block mb-4 rounded border bg-amber-500 px-12 py-3 text-sm font-medium text-white hover:bg-transparent hover:text-amber-500 focus:outline-none focus:ring active:text-amber-400 hover:cursor-pointer">Modifier</a>
                <%= simple_form_for @booking do |f| %>
                  <%= f.hidden_field :status, value: "cancelled" %>
                  <input type="submit" name="commit" value="Annuler (client)" class="inline-block mb-4 rounded border bg-red-600 px-12 py-3 text-sm font-medium text-white hover:bg-transparent hover:text-red-600 focus:outline-none focus:ring active:text-red-500 hover:cursor-pointer">
                <% end %>


                <% unless @booking.status == ('declined' || 'cancelled') %>
                  <%= simple_form_for @booking do |f| %>
                    <%= f.hidden_field :status, value: 'declined' %>
                    <input type="submit" name="commit" value="Refuser (admin)" class="inline-block mb-4 rounded border bg-red-600 px-12 py-3 text-sm font-medium text-white hover:bg-transparent hover:text-red-600 focus:outline-none focus:ring active:text-red-500 hover:cursor-pointer">
                  <% end %>
                <% end %>
          </ul>
        </dd>
      </div>
    </dl>
  </div>
</div>
</div>
