<div class="container">
  <h1>Booking details / for all users / to see details, edit or destroy</h1>
  <p> To implement here : show, edit/update, destroy</p>

 <h2><%= @booking.last_name %> <%= @booking.first_name %></h2>
  <p><%= @booking.date %> <%= @booking.starts_at %></p>
  <p><%= @booking.phone  %> <%= @booking.email %></p>
  <p><%= @booking.comment %></p>
  <p>Statut de votre réservation : <%= @booking.status %></p>
  <%= link_to "edit this booking", edit_booking_path(@booking) %>
  <%= link_to "Back to list", bookings_path %>
  <br>

  <%= simple_form_for @booking do |f| %>
    <%= f.hidden_field :status, value: "cancelled" %>
    <%= f.submit "Annuler ma réservation (client side)" %>
  <% end %>

  <% unless @booking.status == ('confirmed') %>
    <%= simple_form_for @booking do |f| %>
        <%= f.hidden_field :status, value: 'confirmed' %>
        <%= f.submit "Valider la demande de réservation (admin side)" %>
    <% end %>
  <% end %>

  <% unless @booking.status == ('declined' || 'cancelled') %>
    <%= simple_form_for @booking do |f| %>
      <%= f.hidden_field :status, value: 'declined' %>
      <%= f.submit "Refuser la demande de réservation (admin side)" %>
    <% end %>
  <% end %>

  <%= link_to "Delete this booking (not to use in real app)", booking_path(@booking), method: :delete, data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
</div>

