<footer aria-label="Site Footer" class="bg-gray-100">
  <div class="relative max-w-screen-xl px-4 pb-16 mx-auto sm:px-6 lg:px-8 lg:pt-16">
    <div class="absolute top-4 right-4 sm:top-6 sm:right-6 lg:top-8 lg:right-8">
      <a
        class="inline-block p-2 text-white transition rounded-full shadow bg-pink-pastel hover:bg-pink-pastel sm:p-3 lg:p-4"
        href="#MainContent"
      >
        <span class="sr-only">Back to top</span>

        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="w-5 h-5"
          viewBox="0 0 20 20"
          fill="currentColor"
        >
          <path
            fill-rule="evenodd"
            d="M14.707 12.707a1 1 0 01-1.414 0L10 9.414l-3.293 3.293a1 1 0 01-1.414-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 010 1.414z"
            clip-rule="evenodd"
          />
        </svg>
      </a>
    </div>

    <div class="mt-4 lg:flex lg:items-end lg:justify-around">
      <div>
        <p class="max-w-md pt-10 mx-auto text-base leading-relaxed text-center text-gray-500 sm:text-lg">
          <strong>Eunoé</strong><br>
          6 rue Rochebrune, <br>
          75011 Paris <br>
          +33 1 75 75 75 75 <br>
          Felix@eunoe-restaurant.com
        </p>
        <div class="flex flex-row justify-center">
          <a href="" class="m-1 text-5xl text-blue-900"><i class="fa-brands fa-square-facebook"></i></a>
          <a href="" class="m-1 text-5xl text-rose-700"><i class="fa-brands fa-square-instagram"></i></a>
          <a href="" class="m-1 text-5xl text-red-800"><i class="fa-brands fa-square-youtube"></i></a>
        </div>
      </div>

      <div class="text-base sm:text-lg">
        <div class="flex justify-center">
          <%= image_tag "Eunoe_Logo_crop.png", class:"flex justify-center my-4", width:"180px" %>
        </div>
        <p class="max-w-md mx-auto my-1 leading-relaxed text-center text-gray-500">
          Ouvert 7/7j
        </p>

        <p class="max-w-md mx-auto my-1 leading-relaxed text-center text-gray-500">
          Lun-Mar-Mer-Jeu 12h–14h30 // 19h–00h
        </p>

        <p class="max-w-md mx-auto my-1 leading-relaxed text-center text-gray-500">
          Vendredi 12h-14h30 // 19h- 00h30
        </p>

        <p class="max-w-md mx-auto my-1 leading-relaxed text-center text-gray-500">
          Samedi 12h-14h45 // 19h-00h30
        </p>

        <p class="max-w-md mx-auto my-1 leading-relaxed text-center text-gray-500">
          Dimanche 12h-14h45 // 19h-00h
        </p>

      </div>

      <nav aria-label="Footer Nav" class="mt-8 lg:mt-0">
        <ul
          class="flex flex-col items-center justify-center gap-1 sm:text-center sm:mt-4 md:gap-2 lg:justify-end lg:gap-3"
        >
          <li>
            <%= link_to "Accueil", "#main-banner", class: "text-gray-500 transition hover:text-gray-700" %>
          </li>

          <li>
            <%= link_to "Restaurant", restaurant_path, class: "text-gray-500 transition hover:text-gray-700" %>
          </li>

          <li>
            <%= link_to "Privatisation", privatisation_path, class: "text-gray-500 transition hover:text-gray-700" %>
          </li>

          <li>
            <%= link_to "Réservation", new_booking_path, class: "text-gray-500 transition hover:text-gray-700" %>
          </li>

          <li>
            <%= link_to "Admin", admin_path, class: "text-gray-500 transition hover:text-gray-700" %>
          </li>

        </ul>
      </nav>

    </div>

  </div>

  <div class="flex justify-center pb-4">
    <p class="my-4 mb-2 text-xs font-light text-center text-gray-400">
      Copyright &copy; 2023. <br>
      Design & Développement : Studio Ameco-Fornaro-Mariani
    </p>
  </div>

</footer>
