<%# FIRST DRAFT -- ADD FONTS, HOVERS, BUTTON STYLES + TO BE MADE RESPONSIVE %>

<nav class="navbar">
  <div class="container nav-wrapper">
    <%= link_to "Eunoé", root_path, class: "navbar-logo" %>
    <div class="navbar-menu">
      <ul class="menu-list">
        <li><%= link_to "Accueil", root_path, class: "nav-link" %></li>
        <li><%= link_to "Restaurant", restaurant_path, class: "nav-link" %></li>
        <li><%= link_to "Menu", menus_path, class: "nav-link" %></li>
      </ul>
    </div>
    <div class="navbar-booking">
      <%= link_to "Réserver", new_booking_path, class: "button" %>
    </div>
  </div>
</nav>
