<header data-controller="navbar" data-navbar-target='navbar' data-navbar-booking-button-background-class='bg-white text-pink-pastel' data-navbar-background-class="bg-pink-pastel" data-action="scroll@document->navbar#backgroundHandler" aria-label="Site Header" class="sticky top-0 left-0 right-0 z-20 -mt-20 transition duration-500 ease-in-out">
  <div class="max-w-screen-xl px-4 mx-auto sm:px-6 lg:px-8">
    <div class="flex items-center justify-between h-20">
      <div class="md:flex md:items-center md:gap-12">
        <%= link_to home_path, class: "block" do %>
          <%= image_tag "Eunoe_LogoB_crop.png", class: "", width: "140px" %>
        <% end %>
      </div>

      <div class="hidden md:block">
        <nav aria-label="Site Nav" role="menu">
          <ul class="flex items-center gap-12 text-xl">
            <li><%= link_to "Accueil", home_path, class: "text-white transition hover:text-white/75" %></li>

            <li><%= link_to "Restaurant", restaurant_path, class: "text-white transition hover:text-white/75" %></li>

            <li><%= link_to "Menu", meals_path, class: "text-white transition hover:text-white/75" %></li>

            <li><%= link_to "Privatisation", privatisation_path, class: "text-white transition hover:text-white/75" %></li>

            <li><%= link_to "Réservation", new_booking_path, class: "text-white transition hover:text-white/75" %></li>

          </ul>
        </nav>
      </div>

      <div class="flex items-center gap-6">

        <div class="sm:flex sm:gap-4">
          <%= link_to "Réserver", new_booking_path, id: "reserver", data: {navbar_target: 'booking'}, class: "transition duration-300 ease-in-out rounded-md bg-pink-pastel px-8 py-2.5 uppercase text-base sm:text-lg font-medium text-white shadow" %>
        </div>

        <div class="hidden md:flex md:gap-4 md:text-3xl md:ml-8 ">
          <ul>
            <li><%= link_to '🇬🇧', home_path(locale: :en) %></li>
            <li><%= link_to '🇫🇷', home_path(locale: :fr) %></li>
          </ul>
        </div>

        <div id="burger-open" class="z-50 block md:hidden" data-action="click->navbar#burgerMenu">
          <button
            class="p-2 text-gray-600 transition bg-gray-100 rounded dropdown-toggle hover:text-gray-600/75" data-navbar-target="button"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="w-5 h-5"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              stroke-width="2"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M4 6h16M4 12h16M4 18h16"
              />
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>

  <%# MOBILE BURGER MENU %>
  <div id="mobile-burger" class="fixed top-0 left-0 z-40 flex flex-col items-center justify-between w-full h-full p-4 mx-auto transition-all duration-300 ease-in-out scale-95 translate-x-32 opacity-0 pointer-events-none bg-[#B97456] hover:b sm:px-6 bg- lg:px-8 aria-expanded:translate-x-0 aria-expanded:scale-100 aria-expanded:opacity-100 aria-expanded:pointer-events-auto" data-navbar-target="burger" aria-expanded="false">
    <div class="relative top-0 flex flex-row justify-end w-full h-5 p-2">

    </div>
    <div class="flex flex-row gap-4">
          <ul class="flex flex-row gap-10 text-4xl">
            <li><%= link_to '🇬🇧', home_path(locale: :en) %></li>
            <li><%= link_to '🇫🇷', home_path(locale: :fr) %></li>
          </ul>
    </div>
    <nav aria-label="Site Nav" role="menu">
      <ul class="flex flex-col items-center gap-10 text-lg">
        <li><%= link_to "Accueil", home_path, class: "text-white font-medium uppercase transition hover:text-white/75" %></li>

        <li><%= link_to "Restaurant", restaurant_path, class: "text-white font-medium uppercase transition hover:text-white/75" %></li>

        <li><%= link_to "Menu", meals_path, class: "text-white font-medium uppercase transition hover:text-white/75" %></li>

        <li><%= link_to "Privatisation", privatisation_path, class: "text-white font-medium uppercase transition hover:text-white/75" %></li>

        <% if current_user %>
          <li><%= link_to "Admin", admin_path, class: "text-white font-medium uppercase transition hover:text-white/75" %></li>
        <% end %>
      </ul>
    </nav>

    <div class="flex gap-4">
          <%= link_to "Réserver", new_booking_path, class: "rounded-md bg-white px-8 py-2.5 uppercase text-base font-medium text-pink-pastel shadow" %>
    </div>

    <div class="relative bottom-0 left-0 right-0 w-full sm:flex sm:items-center sm:justify-around md:gap-12 bg-pink-pastel">
      <a class="flex justify-center" href="/">
        <%= image_tag "Eunoe_LogoB_crop.png", class: "", width: "120px" %>
      </a>
    </div>
  </div>

</header>
