<div class="container">
  <div style="font-family: 'Darker Grotesque', sans-serif; font-size: large; color: black; margin: 2vh 2vw 2vh 2vw;">
    <p> Bonjour Admin,</p>
    <br>
    <p> Une nouvelle demande de réservation pour le <%= @booking.date.strftime("%d / %m / %Y") %> a été enregistrée. Détail de la réservation :</p>

        <li style="list-style-type: none; font-weight: bold; color: #904530; margin: 2vh 0 2vh 0; padding-left: 4vw;"> Nom : <%= @booking.first_name %> <%= @booking.last_name.upcase %></li>
        <li style="list-style-type: none; font-weight: bold; color: #904530; margin: 2vh 0 2vh 0; padding-left: 4vw;"> Contact : <%= @booking.phone %> / <%= @booking.email %></li>
        <li style="list-style-type: none; font-weight: bold; color: #904530; margin: 2vh 0 2vh 0; padding-left: 4vw;"> Places : <%= @booking.people %> personnes</li>
        <li style="list-style-type: none; font-weight: bold; color: #904530; margin: 2vh 0 2vh 0; padding-left: 4vw;">
        Date : <%= @booking.date.strftime("%d / %m / %Y")%>, </li>
        <li style="list-style-type: none; font-weight: bold; color: #904530; margin: 2vh 0 2vh 0; padding-left: 4vw;"> Horaire : <%= @booking.starts_at.time.strftime('%H:%M heure')%></li>
        <li style="list-style-type: none; font-weight: bold; color: #904530; margin: 2vh 0 2vh 0; padding-left: 4vw;"> Commentaire : <%= @booking.comment %></li>
    <br>
    <p>Pour la confirmer ou l'annuler :</p>
    <%# LINK BELOW TO EDIT & FIX WHEN DOMAIN IS SET. STILL BUGGY IF LINK_TO IS USED. %>
    <p style="margin-bottom: 3vh;"><%= link_to "Valider la réservation", "http://localhost:3000/bookings" %></p>

    <%= image_tag attachments['Eunoe.png'].url, width:"200px" %>

    </div>
</div>
