<h1 class="sr-only">Eunoé Restaurant</h1>
<%= render "pages/home/banner" %>

<%= render "pages/home/video_section" %>

<%= render "pages/home/list-img" %>

<%= render "pages/home/menu-home" %>

<%= render "pages/home/cuisine-card" %>

<%= render "pages/home/privatisation-card" %>

<%= render "pages/home/carousel-article" %>
