<section class="h-screen relative bg-[url(https://images.unsplash.com/photo-1517248135467-4c7edcad34c4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80)] bg-cover bg-center bg-no-repeat flex flex-col justify-center">

  <div class="absolute inset-0 sm:z-0 bg-black/60 sm:bg-transparent sm:bg-gradient-to-r sm:from-black/60 sm:to-black/60">
  </div>

  <div class="relative max-w-screen-xl px-4 py-32 mx-auto sm:z-10 lg:flex lg:h-screen lg:items-center">
    <div class="max-w-xl mx-auto text-center">
      <h1 class="text-5xl sm:text-6xl font-extrabold text-white drop-shadow">
        Le Restaurant
        <strong class="font-extrabold text-pink-pastel sm:block drop-shadow">
          Eunoé
        </strong>
      </h1>

      <p class="mt-4 text-white text-lg sm:text-2xl leading-relaxed shadow">
        Une expérience bistronomique haute en couleurs, à la croisée des classiques du bistrot et de la fusion food.
      </p>

      <div class="flex flex-wrap justify-center gap-4 mt-8">

        <%= link_to "Réservez votre table", new_booking_path, class: "block w-56 sm:w-full px-12 py-3 text-base sm:text-lg font-medium text-white bg-pink-pastel rounded shadow bg-red-pastel:hover focus:outline-none focus:ring active:bg-red-pastel sm:w-auto" %>
      </div>
    </div>
  </div>
</section>


<%= render "pages/restaurant/description-1" %>


<%= render "pages/restaurant/description-2" %>


<%= render "pages/home/video_section" %>


<%= render "pages/restaurant/events" %>
