 <div data-navtabs-target="dinner" class="hidden">
    <div class="menu-dinner flex flex-col my-8">
      <h2 class="text-4xl font-extrabold text-pink-pastel text-center sm:text-6xl">Menu du dîner</h2>
      <div class="flex justify-center">
        <p class="text-base sm:text-lg leading-relaxed font-normal w-4/5 text-center my-2 sm:my-4">
        Pour le dîner, nous vous proposons des produits plus travaillés et raffinés pour une expérience plus subtile et complète. L'exigence du produit se traduit dans le respect qu’il apporte aux bêtes qu’il travaille. Ryuji reçoit des bêtes entières, afin de les valoriser et de pouvoir offrir des assiettes généreuses sans être trop onéreuses. Des saveurs qui raisonneront avec de jolis vins proposés par Félix, qui nous embarquera dans une expérience conviviale.</p>
      </div>
      <% if current_user %>
        <%= link_to 'Add a meal', new_meal_path, class: "block w-full px-12 py-3 text-sm font-medium text-white bg-pink-pastel rounded shadow hover:bg-red-pastel focus:outline-none focus:ring active:bg-red-pastel sm:w-auto"%> <%# Wait admin part : if current_user.admin%>
      <% end %>

      <div class="starter-meal flex flex-col sm:flex-row sm:justify-between">
        <%# # maybe an img in futur %>
        <div class="meal-infos flex flex-col sm:w-7/12 sm:justify-center"
          data-te-animation-init
          data-te-animation-start="onScroll"
          data-te-animation-on-scroll="repeat"
          data-te-animation-reset="true"
          data-te-animation="[fade-in-left_2s_ease-in-out]">

          <h2 class="text-3xl font-extrabold text-black sm:text-5xl">Entrées</h2>
          <p class="text-base italic">(Uniquement le soir, du mardi au samedi)</p>
          <br>
          <p class="text-base sm:text-lg font-normal">Entrées ou assiettes de convivialités, chez Eunoé on est libre de ses envies !</p>
          <br>
          <% @meals.each do |meal| %>
            <% if meal.timing == 'Dinner' %>
              <% if meal.dish == 'Starter' %>
                <div class="mb-3 sm:mb-6">
                  <div class="flex flex-row mb-1 sm:mb-3">
                    <h3 class="text-base sm:text-xl font-bold mr-1"><%= meal.title %></h3>
                    <span class="grow min-w-[24%] border-black border-t border-dotted mt-4 mr-2 sm:ml-2"></span>
                    <p class="text-lg sm:text-xl font-bold ml-1"><%= meal.price %></p>
                  </div>
                  <p class="text-base sm:text-lg font-light mb-1 sm:mb-3"><%= meal.description %></p>
                  <% if current_user %>
                    <div class="flex flex-row">
                      <%= link_to 'Edit', edit_meal_path(meal), class: "block w-12 px-12 py-2 text-sm font-medium text-white bg-pink-pastel rounded shadow hover:bg-red-pastel focus:outline-none focus:ring active:bg-red-pastel sm:w-auto" %>
                      <%= link_to 'Delete', meal_path(meal), class: "block w-12 px-10 pink-pastel py-2 text-sm font-medium text-white bg-pink-pastel rounded shadow hover:bg-red-pastel focus:outline-none focus:ring active:bg-red-pastel sm:w-auto", data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'} %>
                    </div>
                  <% end %>
                </div>
              <% end %>
            <% end %>
          <% end %>
        </div>

        <img class="object-cover w-full max-sm:h-56 sm:w-5/12 sm:h-screen sm:my-20 sm:pl-10" src="https://images.wakelet.com/resize?id=b8xZqTiDroiK76d6TpXrC&h=1024&w=1536&q=85#" alt=""
          data-te-animation-init
          data-te-animation-start="onScroll"
          data-te-animation-on-scroll="repeat"
          data-te-animation-reset="true"
          data-te-animation="[fade-in-right_2s_ease-in-out]">

      </div>


      <br>
      <br>


      <div class="main-meal flex flex-col sm:flex-row sm:justify-between">

        <img class="max-sm:hidden sm:object-cover sm:w-5/12 sm:h-screen sm:my-20 sm:pr-10" src="https://images.wakelet.com/resize?id=N-Z2hpMrkCffHy6RWDd9q&h=2304&w=1536&q=85#" alt=""
          data-te-animation-init
          data-te-animation-start="onScroll"
          data-te-animation-on-scroll="repeat"
          data-te-animation-reset="true"
          data-te-animation="[fade-in-left_2s_ease-in-out]"
        >

        <div class="meal-infos flex flex-col sm:w-7/12 sm:justify-center"
          data-te-animation-init
          data-te-animation-start="onScroll"
          data-te-animation-on-scroll="repeat"
          data-te-animation-reset="true"
          data-te-animation="[fade-in-right_2s_ease-in-out]">

          <h2 class="text-3xl font-extrabold text-black sm:text-5xl">Plats principaux</h2>
          <p class="text-base italic">(Uniquement le soir, du mardi au samedi)</p>
          <br>
          <p class="text-base sm:text-lg font-normal">Chez Eunoé, les produits sont magnifiés par le barbecue japonais dont le charbon spécial appelé « binchotan » permet des cuissons lentes et donne un goût très particulier aux aliments.</p>
          <br>
          <% @meals.each do |meal| %>
            <% if meal.timing == 'Dinner' %>
              <% if meal.dish == 'Main meal' %>
                <div class="mb-3 sm:mb-6">
                  <div class="flex flex-row mb-1 sm:mb-3">
                    <h3 class="text-base sm:text-xl font-bold mr-1"><%= meal.title %></h3>
                    <span class="grow min-w-[24%] border-black border-t border-dotted mt-4 mr-2 sm:ml-2"></span>
                    <p class="text-lg sm:text-xl font-bold ml-1"><%= meal.price %></p>
                  </div>
                  <p class="text-base sm:text-lg font-light mb-1 sm:mb-3"><%= meal.description %></p>
                  <% if current_user %>
                    <div class="flex flex-row">
                      <%= link_to 'Edit', edit_meal_path(meal), class: "block w-12 px-12 py-2 text-sm font-medium text-white bg-pink-pastel rounded shadow hover:bg-red-pastel focus:outline-none focus:ring active:bg-red-pastel sm:w-auto" %> <%# Wait admin part : if current_user.admin %>
                      <%= link_to 'Delete', meal_path(meal), class: "block w-12 px-10 py-2 text-sm font-medium text-white bg-pink-pastel rounded shadow hover:bg-red-pastel focus:outline-none focus:ring active:bg-red-pastel sm:w-auto", data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'} %> <%# Wait admin part : if current_user.admin %>
                    </div>
                  <% end %>
                </div>
              <% end %>
            <% end %>
          <% end %>
        </div>

         <img class="sm:hidden max-sm:object-cover max-sm:w-full max-sm:h-80" src="https://images.wakelet.com/resize?id=N-Z2hpMrkCffHy6RWDd9q&h=2304&w=1536&q=85#" alt=""
          data-te-animation-init
          data-te-animation-start="onScroll"
          data-te-animation-on-scroll="repeat"
          data-te-animation-reset="true"
          data-te-animation="[fade-in-left_2s_ease-in-out]">

      </div>


      <br>
      <br>


      <div class="dessert-meal flex flex-col sm:flex-row sm:justify-between">
        <%# # maybe an img in futur %>
        <div class="meal-infos flex flex-col sm:w-7/12 sm:justify-center"
          data-te-animation-init
          data-te-animation-start="onScroll"
          data-te-animation-on-scroll="repeat"
          data-te-animation-reset="true"
          data-te-animation="[fade-in-left_2s_ease-in-out]">

          <h2 class="text-3xl font-extrabold text-black sm:text-5xl">Desserts</h2>
          <p class="text-base italic">(Uniquement le soir, du mardi au samedi)</p>
          <br>
          <p class="text-base sm:text-lg font-normal">Une explosion de saveurs en bouche, expérimentez le régressif qui se réinvente !</p>
          <br>
          <% @meals.each do |meal| %>
            <% if meal.timing == 'Dinner' %>
              <% if meal.dish == 'Dessert' %>
                <div class="mb-3 sm:mb-6">
                  <div class="flex flex-row mb-1 sm:mb-3">
                    <h3 class="text-base sm:text-xl font-bold mr-1"><%= meal.title %></h3>
                    <span class="grow min-w-[24%] border-black border-t border-dotted mt-4 mr-2 sm:ml-2"></span>
                    <p class="text-lg sm:text-xl font-bold ml-1"><%= meal.price %></p>
                  </div>
                  <p class="text-base sm:text-lg font-light mb-1 sm:mb-3"><%= meal.description %></p>
                  <% if current_user %>
                    <div class="flex flex-row">
                      <%= link_to 'Edit', edit_meal_path(meal), class: "block w-12 px-12 py-2 text-sm font-medium text-white bg-pink-pastel rounded shadow hover:bg-red-pastel focus:outline-none focus:ring active:bg-red-pastel sm:w-auto" %> <%# Wait admin part : if current_user.admin %>
                      <%= link_to 'Delete', meal_path(meal), class: "block w-12 px-12 py-2 text-sm font-medium text-white bg-pink-pastel rounded shadow hover:bg-red-pastel focus:outline-none focus:ring active:bg-red-pastel sm:w-auto", data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'} %> <%# Wait admin part : if current_user.admin %>
                    </div>
                  <% end %>
                </div>
              <% end %>
            <% end %>
          <% end %>
        </div>

        <img class="object-cover w-full max-sm:h-56 sm:w-5/12 sm:h-screen sm:my-20 sm:pl-10" src="https://images.wakelet.com/resize?id=QpENvB3MNw_i2P_xz3D_X&h=1920&w=1536&q=85#" alt=""
          data-te-animation-init
          data-te-animation-start="onScroll"
          data-te-animation-on-scroll="repeat"
          data-te-animation-reset="true"
          data-te-animation="[fade-in-right_2s_ease-in-out]">

      </div>

    </div>
  </div>
