<div class="container">
  <h1>Modification : <strong><%= @menu.title %></strong></h1>
  <%= simple_form_for [@menu] do |f| %>
    <%= f.input :title %>
    <%= f.input :content %>
    <%= f.input :price %>
    <%= f.input :meal %>
    <%= f.submit %>
  <% end %>
</div>
