<div class="banner">
    <img src="" alt="">
    <h1>La Carte</h1>
    <button>Réserver</button>
</div>

<div class="container">
  <div class="menu">
    <%= link_to 'Add a meal', new_meal_path %> # Wait admin part : if current_user.admin

    <div class="starter">
      # maybe an img in futur
      <div class="meal-infos">
        <% @meals.each do |meal| %>
          <% if meal.dish == 'Starter' %>
            <h3><%= meal.title %></h3>
            <ul>
              <li><%= meal.description %></li>
              <li><%= meal.price %></li>
            </ul>
            <%= link_to 'Edit', edit_meal_path(meal) %> # Wait admin part : if current_user.admin
            <%= link_to 'Delete', meal_path(meal), data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'} %> # Wait admin part : if current_user.admin
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="main-meal">
      # maybe an img in futur
      <div class="meal-infos">
        <% @meals.each do |meal| %>
          <% if meal.dish == 'Main meal' %>
            <h3><%= meal.title %></h3>
            <ul>
              <li><%= meal.description %></li>
              <li><%= meal.price %></li>
            </ul>
            <%= link_to 'Edit', edit_meal_path(meal) %> # Wait admin part : if current_user.admin
            <%= link_to 'Delete', meal_path(meal), data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'} %> # Wait admin part : if current_user.admin
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="dessert">
      # maybe an img in futur
      <div class="meal-infos">
        <% @meals.each do |meal| %>
          <% if meal.dish == 'Dessert' %>
            <h3><%= meal.title %></h3>
            <ul>
              <li><%= meal.description %></li>
              <li><%= meal.price %></li>
            </ul>
            <%= link_to 'Edit', edit_meal_path(meal) %> # Wait admin part : if current_user.admin
            <%= link_to 'Delete', meal_path(meal), data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'} %> # Wait admin part : if current_user.admin
          <% end %>
        <% end %>
      </div>
    </div>

  </div>
</div>
