<div class="container">
  <div class="flex flex-col justify-center mt-32">
    <h1 class="text-3xl font-semibold text-black m-4">Ajouter un contenu à la carte :</h1>
    <%= simple_form_for [@meal] do |f| %>
      <%= f.input :title, label: 'Nom du plat :', label_html: { class:"text-black m-2"}, input_html: { class: "my-2 mt-1 w-full rounded-md border-gray-200 shadow-sm text-gray-900 sm:text-sm"}, placeholder: "Nom du plat" %>
      <%= f.input :description, label: 'Description du plat :', label_html: { class:"text-black m-2"}, input_html: { size: 80, class: "my-2 mt-1 w-full rounded-md border-gray-200 shadow-sm text-gray-900 sm:text-sm"}, placeholder: "Description du plat" %>
      <%= f.input :price, label: 'Prix du plat :', label_html: { class:"text-black m-2"}, input_html: { class: "my-2 mt-1 w-full rounded-md border-gray-200 shadow-sm text-gray-900 sm:text-sm"}, placeholder: "Prix du plat" %>
      <%= f.input :dish, label: 'Type de plat : ', label_html: { class:"text-black m-2"}, input_html: { class: "my-2 mt-1 w-full rounded-md border-gray-200 shadow-sm text-gray-900 sm:text-sm"}, collection: ['Starter', 'Main meal', 'Dessert'] %>
      <%= f.input :timing, label: 'Déjeuner ou Diner ?', label_html: { class:"text-black m-2"}, input_html: { class: "my-2 mt-1 w-full rounded-md border-gray-200 shadow-sm text-gray-900 sm:text-sm"}, collection: ['Lunch', 'Dinner']%>,
      <%= f.button :submit, value: "Valider", class: "inline-block px-12 py-3 mb-2 text-sm font-medium text-white border border-none rounded bg-pink-pastel hover:bg-transparent hover:text-pink-pastel focus:outline-none focus:ring active:text-pink-pastel hover:cursor-pointer" %>
      <%= link_to 'Précédent', meals_path, class: "inline-block w-fit px-12 py-3 m-6 text-sm font-medium text-white border border-none rounded bg-pink-pastel hover:bg-transparent hover:text-pink-pastel focus:outline-none focus:ring active:text-pink-pastel hover:cursor-pointer"%>
    <% end %>
  </div>

</div>
